<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
	<dict>
		<key>doctorWorkTime</key>
		<string>每天10：00-16：00</string>
		<key>doctorName</key>
		<string>小慧医师</string>
		<key>doctorIcon</key>
		<string>doctor1</string>
		<key>doctorHospital</key>
		<string>广州医院骨科医师（专家）</string>
		<key>doctorPrice</key>
		<string>¥50</string>
	</dict>
</array>
</plist>
