<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>骨科</string>
		<key>id</key>
		<integer>0</integer>
		<key>index</key>
		<integer>0</integer>
		<key>parentID</key>
		<integer>0</integer>
		<key>count</key>
		<integer>0</integer>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>坐骨</string>
				<key>id</key>
				<integer>80</integer>
				<key>index</key>
				<integer>80</integer>
				<key>parentID</key>
				<integer>2</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>头骨</string>
				<key>id</key>
				<integer>11</integer>
				<key>index</key>
				<integer>11</integer>
				<key>parentID</key>
				<integer>2</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>手骨</string>
				<key>id</key>
				<integer>22</integer>
				<key>index</key>
				<integer>22</integer>
				<key>parentID</key>
				<integer>2</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>腰椎</string>
				<key>id</key>
				<integer>44</integer>
				<key>index</key>
				<integer>44</integer>
				<key>parentID</key>
				<integer>2</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>眼科</string>
		<key>id</key>
		<integer>1</integer>
		<key>index</key>
		<integer>1</integer>
		<key>parentID</key>
		<integer>0</integer>
		<key>count</key>
		<integer>0</integer>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>流泪</string>
				<key>id</key>
				<integer>77</integer>
				<key>index</key>
				<integer>77</integer>
				<key>parentID</key>
				<integer>3</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>红眼病</string>
				<key>id</key>
				<integer>55</integer>
				<key>index</key>
				<integer>55</integer>
				<key>parentID</key>
				<integer>3</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白内障</string>
				<key>id</key>
				<integer>66</integer>
				<key>index</key>
				<integer>66</integer>
				<key>parentID</key>
				<integer>3</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>小儿科</string>
		<key>id</key>
		<integer>2</integer>
		<key>index</key>
		<integer>2</integer>
		<key>parentID</key>
		<integer>0</integer>
		<key>count</key>
		<integer>0</integer>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>夜啼</string>
				<key>id</key>
				<integer>111</integer>
				<key>index</key>
				<integer>111</integer>
				<key>parentID</key>
				<integer>11</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>尿床</string>
				<key>id</key>
				<integer>222</integer>
				<key>index</key>
				<integer>222</integer>
				<key>parentID</key>
				<integer>11</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>拉稀</string>
				<key>id</key>
				<integer>333</integer>
				<key>index</key>
				<integer>333</integer>
				<key>parentID</key>
				<integer>11</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>厌食</string>
				<key>id</key>
				<integer>444</integer>
				<key>index</key>
				<integer>444</integer>
				<key>parentID</key>
				<integer>11</integer>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>精神科</string>
		<key>id</key>
		<integer>3</integer>
		<key>index</key>
		<integer>3</integer>
		<key>parentID</key>
		<integer>0</integer>
		<key>count</key>
		<integer>0</integer>
		<key>list</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>妇科</string>
		<key>id</key>
		<integer>4</integer>
		<key>index</key>
		<integer>4</integer>
		<key>parentID</key>
		<integer>0</integer>
		<key>count</key>
		<integer>0</integer>
		<key>list</key>
		<array/>
	</dict>
</array>
</plist>
