<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconString</key>
		<string>体累</string>
		<key>titleString</key>
		<string>体累</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>大姨妈</string>
		<key>titleString</key>
		<string>大姨妈</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>咽炎</string>
		<key>titleString</key>
		<string>咽炎</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>皮肤</string>
		<key>titleString</key>
		<string>皮肤</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>肥胖</string>
		<key>titleString</key>
		<string>肥胖</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>关节</string>
		<key>titleString</key>
		<string>关节</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>宫颈糜烂</string>
		<key>titleString</key>
		<string>宫颈糜烂</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>眼睛</string>
		<key>titleString</key>
		<string>近视</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>补肾</string>
		<key>titleString</key>
		<string>补肾</string>
	</dict>
	<dict>
		<key>iconString</key>
		<string>乳腺</string>
		<key>titleString</key>
		<string>乳腺</string>
	</dict>
</array>
</plist>
